In [199]:
import pandas as pd

In [200]:
frec1 = pd.read_csv("Frec1.csv")

In [201]:
index = []
for a in range(89721):
  index.append(a+1)

In [202]:
frec1['index'] = index

In [223]:
marker = list(frec1.MarkerValueInt)
import math

In [224]:
etiquetas = []
for i in range(len(marker)-1):
  if (math.isnan(marker[i])):
    marker[i] = 'nan'
len(marker)

89721

In [255]:
marker1 = []
rojo = False
azul = False
verde = False
morado = False
baseline = False
for i in range(len(marker)):
  if (marker[i] == 'nan'):
    if (rojo):
      marker1.append(1)
    elif (azul):
      marker1.append(2)
    elif (verde):
      marker1.append(3)
    elif (morado):
      marker1.append(4)
    elif (baseline):
      marker1.append(5)
    else:
      marker1.append('nan')
  else:
    if (marker[i] == 1):
      rojo = True
      azul = False
      verde = False
      morado = False
      baseline = False
      marker1.append(marker[i])
    elif (marker[i] == 2):
      rojo = False
      azul = True
      verde = False
      morado = False
      baseline = False
      marker1.append(marker[i])
    elif (marker[i] == 3):
      rojo = False
      azul = False
      verde = True
      morado = False
      baseline = False
      marker1.append(marker[i])
    elif (marker[i] == 4):
      rojo = False
      azul = False
      verde = False
      morado = True
      baseline = False
      marker1.append(marker[i])
    elif (marker[i] == 5):
      rojo = False
      azul = False
      verde = False
      morado = False
      baseline = True
      marker1.append(marker[i])
    elif (marker[i] == 6):
      if (rojo):
        marker1.append(1)
      elif (azul):
        marker1.append(2)
      elif (verde):
        marker1.append(3)
      elif (morado):
        marker1.append(4)
      elif (baseline):
        marker1.append(5)
  
marker1.append('end')

In [256]:
len(marker1)

89721

In [257]:
frec1['MARKERS'] = marker1

In [258]:
frec1

        Timestamp  EEG.Counter  EEG.Interpolated  ...  MarkerValueInt  index  MARKERS
0      1606505822           62                 0  ...             NaN      1      nan
1      1606505822           63                 0  ...             NaN      2      nan
2      1606505822           64                 0  ...             NaN      3      nan
3      1606505822           65                 0  ...             NaN      4      nan
4      1606505822           66                 0  ...             NaN      5      nan
...           ...          ...               ...  ...             ...    ...      ...
89716  1606506531           26                 0  ...             NaN  89717        3
89717  1606506531           27                 0  ...             NaN  89718        3
89718  1606506531           28                 0  ...             NaN  89719        3
89719  1606506531           29                 0  ...             NaN  89720        3
89720  1606506531           30                 0  ...             NaN  89721      end

[89721 rows x 21 columns]

In [259]:
frec1.to_csv('Nuevo.csv')